<mat-card class="trans-card">
    <div class="img-content"><img class="trans-img" [src]="carrier.logo" alt=""></div>
    <div class="trans-info">
        <div class="trans-name">{{carrier.name}}</div>
        <div class="trans-cnpj">{{carrier.cnpj}}</div>
    </div>
    <div class="trans-contact">
        <div class="trans-numbers">{{carrier.number + ' ' + carrier.whatsapp}}</div>
        <div class="trans-email">{{carrier.email}}</div>
    </div>
    <div class="whatsapp">
        <span><fa-icon [icon]="faPhone"></fa-icon> Fale agora: <span class="whatsapp-number" >{{carrier.whatsapp}}</span></span>
    </div>
</mat-card>